<h1 style="text-align: center;"><strong>Reporte de Incendio</strong><strong><br /></strong></h1>
<p>&nbsp;</p>
<p style="text-align: right;"><span style="font-weight: 400;"><strong>Fecha de creaci&oacute;n</strong> {{fecha_}}</span></p>
<p style="text-align: right;"><span style="font-weight: 400;"><strong>&nbsp;Hora creacion </strong>{{hora_}}</span></p>
<hr />
<p style="text-align: right;"><span style="font-weight: 400;">&nbsp;</span></p>
<p style="text-align: center;"><strong>Foto Original</strong></p>
<p style="text-align: center;"><img src="{{original_path}}" width="251" height="167" /></p>
<p style="text-align: center;"><strong>Foto procesada&nbsp; </strong></p>
<p style="text-align: center;"><strong><img src="{{procesada_path}}" width="251" height="167" /></strong></p>
<p style="text-align: center;"><strong>Foto Seleccion Incendio</strong></p>
<p style="text-align: center;"><strong><img src="{{seleccion_path}}" width="251" height="167" /></strong></p>
<h1 style="text-align: left;"><strong>Incendio ID: <span style="font-weight: 400;">{{ID_}}&nbsp;</span></strong></h1>
<p style="text-align: justify;"><strong>Fecha / Hora:&nbsp; &nbsp;</strong>{{fecha_hora_}}</p>
<p style="text-align: justify;"><strong>Categor&iacute;a:&nbsp; &nbsp;</strong>{{categoria_}}</p>
<p style="text-align: justify;"><strong>&Aacute;rea:&nbsp; &nbsp;</strong>{{area_}}</p>
<p style="text-align: justify;"><strong>Coordenadas Origen:&nbsp; &nbsp;</strong>{{coordenadas_}}</p>
<p style="text-align: left;"><strong>Estimaci&oacute;n:</strong></p>
<p style="text-align: left;"><span style="font-weight: 400;">{{estimacion_}}</span></p>